
.hi{
    height:90vh;
    background-image: linear-gradient(
        to bottom,
        #acacaccc,
        #636363d0 ),
    url("../../../creed.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
   
  
   
    padding-top: 50px;
   
 
}

.hiTwo{
   
    height:100vh;
    background-color: antiquewhite;
}

.languages{
    margin-top: 15%;
   


}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.child {
    display: inline-block;
    
    margin: 10px 0 0 2%;
    flex-grow: 1;
    height: 100px;
    width: auto;
    max-width: 100px;
}

#about{
    color: aliceblue;
}