.main{
    
    background-color: blanchedalmond;
}

.hi{
    height:90vh;
    background-color: bisque;
    padding-top: 50px;
 
}

.hiTwo{
   
    height:100vh;
    background-color: antiquewhite;
}

.languages{
    height: 30vh;
    background-color: beige;
}