.main{
    height: 95vh;
    background-color: blanchedalmond;
}
.title{
    text-align:center;
}

.intro{
    padding-top: 50px;
}

.img{
    height:400px;
    width:400px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.twoIntro{
    height:10vh;
    background-color: rgb(83, 83, 83);
}

.linkContainer{
    display: flex;
    justify-content: center;
    

}


.imgLink {

    

}

.box{
    position: relative;
    overflow: hidden;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
    height:50px;
    width:50px;
}

.box:hover img{
    opacity: 0;
}

img{
    width:100%;
    transition: all linear 0.7s;
}

img.hover-img{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
}
.box:hover img.hover-img{
    opacity: 1;
}