

.main{
    height: 95vh;
    background-image:url("../../../Houston.jpg");
    background-size: cover;
    position: relative;

}
.title{
    text-align:center;
}

.intro{
    padding-top: 50px;
}

.img{
    height:400px;
    width:400px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.twoIntro{
    height:10vh;
    background-color: rgb(255, 255, 255);
}

.linkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    

}




.box{
    position: relative;
    overflow: hidden;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
    
    height:30px;
    width:30px;
   
}

.box:hover img{
    opacity: 0;
}

.box img{
    width:100%;
    transition: all linear 0.7s;
}

.box img.hover-img{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    
}
.box:hover img.hover-img{
    opacity: 1;
}