
.workTitle{

    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: rgb(80, 80, 80);
    font-weight: 200;
    font-size: 42px;
    

}
#workTitle{
    font-size: 52px;
}
#gman1{
    font-size: 42px;
}
#gman2{
    font-size: 42px;
}
#gman1:hover{
    font-size: 45px;
    text-shadow: 0 1px 10px rgba(255, 60, 60, 0.919); 
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    color:rgba(255, 94, 94, 0.788)
}
#gman2:hover{
    font-size: 45px;
    text-shadow: 0 1px 10px rgba(255, 44, 244, 0.919); 
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    color:rgba(194, 62, 255, 0.788)
}
.workBody{
    padding-top: 50px;
    background-image: linear-gradient(
        to bottom,
        #f0f0f0cc,
        #00c6f8d0 );
}

.pDiv{
    width: 35%;
    
}

.work{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.work-container{
    
    height: 350px;
    width: 650px;
    position:relative;
    border-radius:25px;

}

.work-container img{
    
    width: 100%;
    height: 100%;

}

.transition-image{
    
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
}

.transition-image p{
    text-align: center;
}

.transition-image:hover{
    opacity: 1;
}

#stardust{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#travelMent{
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
   
}
#workGit{
    text-decoration: none;
    color: #c0c0c0d0;

}
#workGit:hover{
    text-shadow: 0 1px 10px rgba(255, 255, 255, 0.919); 
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    color:rgba(255, 255, 255, 0.788)
}

@media (max-width: 600px) {
    
    .work{

        display: flex;
        flex-direction: column-reverse;
    }
    
    .work-container{
    
        height: auto;
        width: 100%;
        position:relative;
        border-radius:25px;
    
    }

    #offContain{
        
        flex-direction: column;
    }

    .pDiv{
        width: 100%;
        
    }
    .transition-image p{
        text-align: center;
        font-size: 12px;
    }
    #gman1{
        font-size: 24px;
    }
    #gman2{
        font-size: 24px;
    }
    

 
}