
.work{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.work-container{
    
    height: 250px;
    width: 500px;
    position:relative;
   

}

.work-container img{
    
    width: 100%;
    height: 100%;

}

.transition-image{
    
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
}

.transition-image p{
    text-align: center;
}

.transition-image:hover{
    opacity: 1;
}
